body {
   margin: 0;
   opacity: 1;
   /*font-family:'Pompiere', cursive;*/
   font-family: "Raleway", sans-serif;
   /*display:flex;*/
}

.bkgnd{
  width:100%;
  height:1000px;
  background-size: contain;
}

.page {
    margin-left: 350px;
    max-width: 800px;
    width: 100%;
    height:1000px;
    background-color: #ffffff;
    /*background-color: #ff0000;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing{
  width:600px;
  height:600px;
  border-radius: 1000px;
  padding:8px 10px;

  box-shadow: 0 0 20px rgba(0,0,0,0.6);


}

.title{
  height:10px;
}
.actions-container{
  width:900px;
  height:40%;
  display: flex;
  /*background-color: #ff0000;*/
  font-size: 25px;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

h2{
  padding:50px;
  font-family: 'Lobster Two', cursive;
  font-size: 45px;
  text-align: center;
  z-index: 20;
  padding:60px;
  padding-bottom: 20px;
}

p{
  /*font-family: 'Pompiere', cursive;*/
  font-weight: 100;
  font-size: 22px;
  color:#939393;

}
a{
  text-decoration: none;
  color: black;

}

/*.authors{
  color:#a8a8a8;
  align-self: flex-start;
  padding-left: 150px;
  line-height: 20px;
}*/

.circle{
  width:250px;
  height:250px;
  /*background-color: #0000ff;*/
  /*background-color: #ffffff;*/
  /*background-image: url("./landing2.jpg");*/
  border-radius: 200px;
  border: solid;
  border-color: #a8a8a8;
  border-width: 1px;
}

.action-title{
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

#dataset{
  color:#C2024F;
}

#background{
  color:#04BBBF;
}

#analysis{
  color:#D2D945;
}
#circle-dataset{
  background-image: url("./dataset.png");
  background-repeat: no-repeat;
  background-size: 130px;
  background-position: center;
}

#circle-background{
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: 130px;
  background-position: center;
}

#circle-analysis{
  background-image: url("./analysis.png");
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center;
}

.title-content{
  font-size:40px;
  font-family: 'Lobster Two', cursive;
  opacity:0.5;

}

.text{
  width:100%;
  /*background-color: #ff0000;*/
}

.bar-plot{
  width:800px;
  height:470px;
  padding-top:50px;

  /*background-color: #ff0000;*/
}

.bar17 {
fill: #FF594F;
opacity: 0.8;
}

.bar17:hover {
fill: #FCB13F;
opacity: 1;
}
.bar16 {
fill: #D2D945;
opacity: 0.8;
}

.bar16:hover {
fill: #04BBBF;
opacity: 1;
}

.bar15 {
fill: #C2024F;
opacity: 0.8;
}

.bar15:hover {
fill: #FF594F;
opacity: 1;
}

.bar14 {
fill: #04BBBF;
opacity: 0.8;
}

.bar14:hover {
fill: #FCB13F;
opacity: 1;
}


.axis text {
font: 13px;
color:#939393;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.x.axis path {
/*display: none;*/
}

.button-containter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;

}

.button{
  width:120px;
  height: 100%;
  background-color: #c9c9c9;
  opacity:0.8;
  text-align: center;
  align-content: center;
  border-radius: 60px;
  color:black;
  line-height: 40px;

}

.node circle {
stroke: #fff
stroke-width: 1px;
}

.node {
font: 8px Raleway;
}

.link {
fill: none;
stroke: #e9e9e9;
stroke-width: 2px;
}



/*.tooltip {
position: absolute;
padding: 10px;
font: 12px sans-serif;
background: #222;
color: #fff;
border: 0px;
border-radius: 8px;
pointer-events: none;
opacity: 0.9;
visibility: hidden;
}*/
