body{
  margin: 0;
  background-color: #011F26;
  color: #fff;
  font-family: 'Raleway',sans-serif;
}

.page {
    margin: 0 auto;
    width: 85%;
}

#background-image{
  height: 900px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./banner.jpg");
  background-size: 100% ;
  opacity: 0.75;
}

h1{
  color:#fff;
  font-size: 49px;
}

p{
  font-size: 16px;
  font-weight: normal;
}

#home{
  position: relative;
  width: 100%;
  height: 1000px;
  /*top: 30%;*/
  /*left: 18%;*/
  text-align:center;
}

.container{
  display: inline-flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

#page_title{
  /*padding-left: 12%;*/
  width: 40%;
  height: 15%;
  line-height: 65px;
  align-self: center;
  font-size: 78px;
  font-family: 'Fredericka the Great', serif;
  /*font-size: 50px;*/

}

#page_description{
  /*padding-left:12%;*/
  width:40%;
  height: 50%;
  align-self: center;
  text-align: center;
  line-height: 20px;
  padding-top: 25px;
}

.viz{
  height: 600px;
  width: 95%;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
  /*padding-left: 50px;*/
  align-items: center;
  flex-direction: row;
  display:flex;

}

.chart{
  height:100%;
  width:100%;
  stroke-width:1px;
  stroke-opacity:0.9;

}

.description{
  width:50%;
  height: 60%;
  text-align: justify;
}

#svg_tree{
  padding-left:50px;
  height: 800px;
}

#branches_science{
  display: flex;
  flex-direction: column;
  height:850px;
}

.tooltip{
  height:50px;
  width:650px;
  position: absolute;
  top:1550px;
  left:730px;
  z-index: 20;
  color: white;
  visibility: hidden;
  /*background-color: white;*/
  opacity: 0.4;
  text-align: center;
  line-height: 10px;
  font-size: 67px;
  font-family: 'Fredericka the Great', serif

}

.tooltip2{
  height:200px;
  width:550px;
  position: absolute;
  top:1610px;
  left:790px;
  z-index: 20;
  color: white;
  visibility: hidden;
  /*background-color: white;*/
  opacity: 0.5;
  text-align: center;
  /*line-height: 10px;*/
  font-size: 18px;
}

.title{
  height:100px;
  font-size: 75px;
  opacity: 0.5;
  font-family: 'Fredericka the Great', serif;
  text-align: center;
}

.tooltip3{
  height: 30px;
  width: 130px;
  font-size: 18px;
  position: absolute;
  z-index:20;
  visibility: hidden;
  color: black;
  background-color: #E3E6E7; /*#011F26*/
  stroke-opacity:0.5;
  stroke-width: 3px;
  text-align: center;
  /*opacity: 0.75;*/
  line-height: 30px;
}

#bubble{
  align-self: center;
  height:600px;
  /*padding-left: 120px;*/
}
#svg_bubble{
  width:1500px;
}
#title_bubble{
  font-size: 50px;
}
#svg_treemap{
  height:500px;
  width:1500px;
  padding:50px
}

#svg_treemap2{
  height:500px;
  width:1500px;
  padding:50px
}
